{% extends 'home/base.html' %}
    {% block content %}
        <h1>Cập nhật sách</h1>
        <div class="row">
            <div class="col-md-6">
                <form action="" method="post" enctype="multipart/form-data" class="form-group">
                    {% csrf_token %}
        
                    <label for="title">Tên sách:</label>
                    {{ bf.title }}
                    <label for="barcode">Mã vạch:</label>
                    {{ bf.barcode }}
                    <label for="coverTyper">Loại bìa:</label>
                    {{ bf.coverType }}
                    <label for="price">Giá:</label>
                    {{ bf.price }}
                    <label for="discount">Giảm giá (%):</label>
                    {{ bf.discount }}
                    <label for="image">Ảnh sách:</label>
                    {{ bf.image }}
                    <label for="description">Mô tả sách:</label>
                    {{ bf.description }}

                    <button type="submit" class="btn btn-primary" style="margin-bottom: 30px;">Cập nhật</button>
                </form>
            </div>
          </div>
    {% endblock %}